<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>classes</title>
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/styles.css"/>
    </head>
    <body style="background-color: beige;">
      <div class="classes">
        <div class="topbar fixed-top">
          <div class="container">
            <span class="plus_btn">
              <img src="/images/plus.JPG">
            </span>
         <!-- <div class="join_class">
            <div class="join_btn">
              <button type="submit" class="btn">Join Class <i class="fas fa-plus"></i></button>
            </div>
          </div>-->
         
          
            <div class="logout">
              <div class="profile">
              <% if(profile){%>
                <img src="/<%=profile.pic_path%>"/>
                <%}else{%>
                  <img src="/uploads/profile_pic.jpg"/>
                <%}%>
            </div>
              <div class="logged_name">
              <span><a href="/classList/profile/uploadPhoto">
                <%=name%></a></span>
            </div>
            <div class="logged_out">
              <form action="/logout" method="POST">
                <button type="submit" class="btn btn-success">Log Out</button>
              </form>
            </div>
            </div>
          </div>
          </div>
          <div class="container">
          <div class="join_or_create_form" style="display: none;">
            <div class="join_btn">
              <a href="/classList/class/join_form">Join Class</a>
            </div>
            <div class="create_class_btn">
              <a class="createClassbtn" href="#">Create Class</a>
            </div>
          </div>
        </div>
        <div class="container" id="enrolled_course">
          <%if(messages.info){%>
            <div class="err_msg alert alert-warning" role="alert">
            <span><%=messages.info%></span>
          </div>
            <%}%>
            <%if(messages.success){%>
              <div class="success_msg alert alert-success" role="alert">
                <span><%=messages.success%></span>
              </div>
              <%}%>
          <!--<div class="join_form fixed-top" style="display: none;">
          <form action="/enrollCourse" method="POST" class="row addToClass gy-2 gx-3 align-items-center">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <input type="text" class="form-control" name="enrollCode" id="autoSizingInput" placeholder="Class Code">
            </div>
            
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <button type="submit" class="btn btn-success">Join<i class="fas fa-plus"></i></button>
            </div>
          </form>
        </div>-->
        <div class="class_create_form">
          <div class="cross"><a href="#"><i class="fas fa-times"></i></a></div>
          <form action="/classList/createClass" method="POST">
            <div class="form-group">
       <label >Class Name</label>
       <input type="text" name="classname" class="form-control" id="className" placeholder="Class Name" required="required">
     </div>
     <div class="form-group">
       <label  required="required">Section</label>
       <input type="text" name="section" class="form-control"   placeholder="Section">
     </div>
     <div class="form-group">
       <label>Subject</label>
       <input type="text" name="subject" class="form-control"   placeholder="Subject Name">
     </div>
     <div class="form-group">
      <label>Class Code</label>
      <input type="text" name="class_code" class="form-control"   placeholder="Class Code">
    </div>
     <hr>

     <button type="submit" class="btn btn-primary">Create</button>
   </form>
</div>
        <div class="toggler">
          <a class="btn  created_toggle " href="/classList/created" role="button">Created</a>
          <a class="btn  enrolled_toggle active" href="/classList/enrolled" role="button">Enrolled</a>
        </div>
            <h2 class="text-center">Your Enrolled Courses</h2>
            <div class="row pt-5 m-auto">
              <%if(typeof yourClasses!=='undefined'){%>
                <%yourClasses.slice().reverse().forEach(function(Class,index){%>
              <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 classCard">
                <div class="card card-custom bg-white border-white border-0">
                  <div class="unenroll">
                   <a href="/classList/<%=Class.class_id%>/unenroll" onclick="return confirm('Are you sure to unenroll the class?')"> <i class="fas fa-sign-out-alt"></i></a>
                  </div>
                
                  <div class="card-custom-img" style="background: url(/<%=classesBg[index]%>);background-repeat: no-repeat;background-size: cover;
                  background-position: center;"></div>
                  <div class="card-custom-avatar">
                    <img class="img-fluid" src="/<%=teacher_profile[index]%>" alt="Avatar" />
                  </div>
                  <div class="card-body" style="overflow-y: auto">
                    <a href="/courseDetails/<%=Class.class_id%>/enrolled"><h4 class="card-title"><%=Class.class_name%></h4></a>
                    <p class="card-text"><%=Class.section%> 
                     <%if(remainingDue[index]>0){%>
                    
                      <span class="remain_due">Remaining due:<%=remainingDue[index]%></span>
                    
                  <%}%>
                </p>
                    <p class="card-text"><%=Class.teacher_name%></p>
                  </div>
                  
                </div>
              </div>
              <%})%>
         <%}%>
            </div>
          </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="/client.js"></script>
            </body>
</html>