<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%=findClassDetails.classname%></title>
        <link rel="icon" type="image/png"  href="/images/favicon.png"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/styles.css"/>
    </head>
    <body>
      <a class="back_class" href="/classList/<%=user_type%>">ClassList<i class="fas fa-chevron-circle-right"></i></a>
      
        <section id="class_menu" class="fixed-top">
            <div class="container">
                 
                      <ul class="navbar">
                        <li class="nav-item active">
                          <a class="nav-link" href="/courseDetails/<%=courseId%>/enrolled">Resources</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/people/<%=courseId%>/enrolled">People</a>
                        </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/grade/<%=courseId%>/one">Grade</a>
                          </li>
                          
                          
                      </ul>
                     
                    
            </div>
           </section>
           <section class="class_bg">
             <div class="container">
              <%if(class_bg){%>
                <img src="/<%=class_bg.pic_path%>"/>
             <%}else{%>
              <img src="/uploads/class-background.jpg"/>
              <%}%>
             <div class="class_bg_details">
              <h4><%=findClassDetails.classname%></h4>
              <p><%=findClassDetails.section%></p>
             </div>
            </div>
            
            
           </section>
           
        
           <section id="resources">
             <div class="container">
              <%if(typeof allResources!=='undefined'){%>
                <%allResources.slice().reverse().forEach(function(resource,index){%>
                  <%if(resource.due!=="Invalid date"){%>
                    <a href="/courseDetails/<%=resource.course_id%>/showAssignment/<%=resource._id%>">
                    <div class="assignment">
                      <div class="assignment_icon">
                        <img src="/images/asmnt.JPG">
                      </div>
                      <div class="assignment_notification">
                    <h6><%=findClassenroll.teacher_name%> posted a new assignment: <%=resource.topic_name%></h6>
                    <p><%=resource.current_time%></p>
                  </div>
                  </div>
                </a>
                    <%}else{%>
               <div class="singleFile">
                 <div class="resource_profile">
                  <div class="resource_profile_left">
                    <%if(findTeacher){%>
                      <img class="teacher_img" src="/<%=findTeacher.pic_path%>"/>
                      <%}else{%>
                        <img class="teacher_img" src="/uploads/profile_pic.jpg"/>
                        <%}%>
                    </div>
                    <div class="resource_profile_right">
                 <%if(findClassenroll.teacher_name){%>
                  <p>
                    <%=findClassenroll.teacher_name%>
                  </p>
                  <p><%=resource.current_time%></p>
                  <%}%>
                </div>
                </div>
                <%if(resource.topic_name){%>
                  <h3 class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 topic"><%=resource.topic_name%></h3>
                  <%}%>
                  <%if(resource.instruction){%>
                    <h5 class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><%=resource.instruction%></h5>
                    <%}%>
                 <div class="row">
                  <%resource.files.forEach(function(rsc){%>
             <a class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" href="/<%=rsc.filepath%>"><%=rsc.filename%></a>
             <%})%>
             <span class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">	
              <%if(resource.due!=='Invalid date'){%>
              <div class="submit_work row">
                <%if(submissionStatus[(submissionStatus.length-1)-index]=='missing'){%>
                <div class="submit_work_form">
             <form id="fileSubmit" method="POST" action="/courseDetails/<%=courseId%>/submit/<%=resource._id%>" enctype="multipart/form-data">
              <input type="file" id="" multiple name="submitFiles">
              <input id="fileSubmitbtn" onclick="return confirm('Are you sure to turn in?')" class="btn btn-primary" type="submit" value="Turn in">
            </form>
          </div>
          <%if(messages.error){%>
            <div class="container">
            <div class="submit_error err_msg alert alert-danger" role="alert">
            <span><%=messages.error%></span>
          </div>
        </div>
            <%}%>
          <%}%>
          <div class="points">
            <p>Points:<%=resource.points%></p>
          </div>
          <div class="submit_work_due">
            <p>Due:<%=resource.due%></p>
            </div>
          </div>
          <%if(submissionStatus[(submissionStatus.length-1)-index]=='submitted'){%>
          <div class="student_sub">
            <a class="submission" href="/courseDetails/<%=courseId%>/submissions/<%=resource._id%>/one">See your submission</a>
          </div>
          <%}%>
          <%if(submissionStatus[(submissionStatus.length-1)-index]=='submitted'){%>
          <p class="sub_status" style="color: rgb(61, 22, 170);"><%=submissionStatus[(submissionStatus.length-1)-index]%></p>
          <%}else{%>
            <p class="sub_status" style="color: rgb(212, 11, 11);"><%=submissionStatus[(submissionStatus.length-1)-index]%></p>
            <%}%>
            <%}%>
      </span>
      </div>
            </div>
            <%}%>
            <%})%>
            <%}%>
            
            </div>
           </section>
           <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/client.js"></script>
    </body>
</html>